@model Licenta.Models.Solve
@{
    ViewBag.Title = "Solve a Sudoku";
}

<br />
<br />
<p>Incarca o imagine in care jocul Sudoku este cel mai mare contur.</p>

@using (Html.BeginForm("New", "Image", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <input type="submit" />
}