@model Licenta.Models.Sudoku
@{
    ViewBag.Title = "Solved Sudoku";
}

<br />
<br />
<p>Solutia gasita pentru datele date. Fundal albastru inseamna ca celula era data, iar fundal verde inseamna ca celula a fost gasita.</p>

<table class="table table-bordered">
    @for (int i = 0; i < 9; i++)
    {
        <tr>
            @for (int j = 0; j < 9; j++)
            {
                if (Model.Original[i * 9 + j] == true)
                {
                    <td class="bg-primary">
                        @Html.DisplayFor(sudoku => sudoku.Grid[i * 9 + j])
                    </td>
                }
                else
                {
                    <td class="bg-success">
                        @Html.DisplayFor(sudoku => sudoku.Grid[i * 9 + j])
                    </td>
                }
            }
        </tr>
    }
</table>

@using (Html.BeginForm(actionName: "Detection", controllerName: "Solve", method: FormMethod.Get))
{
    <button class="btn btn-primary">Go back</button>
}